div.container {
    width: 100%;
    border: 1px solid gray;
}

header, footer {
    padding: 1em;
    color: white;
    background-color: royalblue;
    clear: left;
    text-align: center;
}

nav {
    float: left;
    max-width: 140px;
    margin: 0;
    padding: 1em;
}

nav ul {
    list-style-type: none;
    padding: 0;
}


nav ul a {
    text-decoration: none;
}

article {
    margin-left: 170px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
    min-height: 200px;
}
section{
  padding: 2%;
  padding-top: 0%;
}

.header_menu{
    text-align: right;
}
.header_menu a{

    color: white;
    text-decoration: none;
}
.login_form{
    padding-bottom: 2px;
}

.productbox {
    background-color:#ffffff;
    padding:10px;
    margin-bottom:10px;
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;

}

.producttitle {
    font-weight:bold;
    padding:5px 0 5px 0;
}

.productprice {
    border-top:1px solid #dadada;
    padding-top:5px;
}

.pricetext {
    font-weight:bold;
    font-size:1.4em;
}
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
div.category{
  padding-top: 5px!important;
  padding-bottom: 16px!important;
  margin-top: 5px!important;
  margin-bottom: 16px!important;
}
img{
    width: 45%;
    height: 50%;

}
.item1, .item2, .item3, .item4{
    display: block;
}
.btn{
    background-color: white;

}
.button {
    background-color: darkorange;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 2px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
.button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.button a {
    text-decoration: none;
    color: white;
}

h2{
    font-size: medium;
    color: black;
    font-style: italic;
    text-underline: gray;

}

h3{
    font-size: xx-small;
    position: absolute;
    bottom: 10px;
}
h4{
    font-size: large;
    font-style: oblique;


}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {background-color: #f2f2f2;}

.checked {
    color: orange;
}

.navbar {
    margin-bottom: 50px;
    border-radius: 0;
}

/* Remove the jumbotron's default bottom margin */
.jumbotron {
    margin-bottom: 0;
}
